{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Django - HTTPS Portal</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Django - HTTPS Portal</h1>

  <a href="https://github.com/yankyhoffman/django-https-portal">Code repo for this site</a>

  <hr>

  <p>Primary colors</p>

  <p>If the items are colored, then the static files where successfully served.</p>

  <ul>
    <li class="red">Red</li>
    <li class="green">Green</li>
    <li class="blue">Blue</li>
  </ul>

  <hr>

  <p>The following tests sessions and CSRF tokens.</p>

  {% if message %}
    <p>Sent: {{ message }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <label for="message">Message</label>
    <input type="text" name="message" id="message" maxlength="255" value="{{ form.message.value|default_if_none:'' }}">

    {% if form.message.errors %}
      <ul>
        {% for error in form.message.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <input type="submit" value="Post">
  </form>

  <a href="{% url 'core:clear' %}">Clear current message</a>
</body>
</html>
